@import './tools'

[v-cloak]
  display none !important

html
body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color $cPrimaryText
  -webkit-tap-highlight-color rgba($cBrand, .25)
  fontReg()

::selection
  background-color $cBrand
  color white

a
  padding 5px
  margin -5px
  color inherit
  text-decoration none
  transition()
  +hover()
    hoverStyle()

body
  &.modal-open
    overflow hidden
    +xs()
      position fixed

#__nuxt
#__layout
.app
  min-height 100vh
  height 100%
  overflow-x hidden

.page
  min-height 100%
  height 100%
  transition()
  &.v-enter
  &.v-leave-to
    opacity 0

.container
  grid-container()
  max-width none

.is-hidden
  display none

.modal
  z-index 999
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center
  background-color rgba(0,0,0,.5)
  overflow hidden
  transition()
  &.v-enter
  &.v-leave-to
    opacity 0

.modal-msg
  z-index 1001

.modal-popup
  overflow-y scroll

.modal-popup-container
  padding 50px
  max-width 100%
  border 1px solid rgba(0,0,0,.125)
  border-radius .25rem
  background-color white
  transition(transform)
  +xs()
    padding 25px
  .v-enter &
  .v-leave-to &
    transform translateY(-30px)

.modal-icon-close
  color $cSecondaryText
  font-size 16px
  &.large
    font-size 24px

.modal-conflict
  overflow scroll

h1.page-title
  margin-bottom 35px
  fontMedium()
  +xl()
    margin-bottom 50px

.el-loading-mask
  position fixed !important
  z-index 1000 !important

.el-menu-item.is-active
  border-color $cBrand !important

.el-input__inner
  line-height 1 !important

.bg-empty
  background linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%)

// TABLE STYLES

.table-cell
  padding 10px 15px
  display flex
  align-items center
  max-width 1500px
  min-width 28px
  +lt-md()
    padding 10px
  &.is-centered
    justify-content center
    text-align center

.table-row
  position relative
  width-between-property 'padding-top' 600 5 1000 10 true true
  width-between-property 'padding-top' 1441 10 1920 15 false true
  width-between-property 'padding-bottom' 600 5 1000 10 true true
  width-between-property 'padding-bottom' 1441 10 1920 15 false true
  border-bottom 1px solid $cLighterBorder
  background-color white
  &:last-child
    border-bottom none
  .is-long-list &
    &:nth-of-type(2n + 1):not(.table-head)
      background-color $cDisabled

// CHECKBOX STYLES

.checkbox
  padding 5px
  margin -5px
  display flex
  justify-content center
  align-items center
  cursor pointer
  &.is-disabled
    pointer-events: none

.checkbox-icon-wrapper
  width 18px
  height 18px
  border 2px solid #afb6c1
  border-radius 2px
  transition(background-color\, border-color)
  .is-active &
    background-color $cBrand
    border-color $cBrand
  .is-disabled &
    background-color $cPlaceholderText
    border-color $cPlaceholderText

.checkbox-icon
  font-size 14px
  color transparent
  transform scale(0)
  transition(color\, transform)
  .is-active &
    color white
    transform scale(1)
  .checkbox:hover &
  .is-hovered &
    color $cBrand
    transform scale(.75)
  .is-hovered.is-active &
  .is-active:hover &
    color white
  .is-disabled &
    pointer-events none

.checkbox-text
  margin-left 10px
  white-space nowrap

// CARD STYLES

.card-title
  margin-bottom 50px
  text-align center
  +xs()
    margin-bottom 25px

.card-subtitle
  margin-bottom 25px

.card-btn-close
  position absolute
  top 15px
  right 15px
  cursor pointer

.card-field
  &:not(:last-child)
    margin-bottom 15px
  +xs()
    margin-bottom 15px

.card-field-title
  margin-bottom 5px
  // fontMedium()
  color $cSecondaryText
  font-size 12px

.card-field-content
  display flex
  align-items center

.card-field-manage
  display inline
  padding 5px
  margin -5px 0
  margin-left 5px
  color $cBrand
  fontReg()
  cursor pointer
  transition(opacity\, border-color)
  transition-delay $tFast
  &:hover
    opacity .75
  &.is-disabled
    transition-delay 0s
    pointer-events none

.card-btns
  // margin-top 75px
  width-between-property 'margin-top' 600 40 1440 75 true true
  display flex
  flex-wrap wrap
  +gt-md()
    margin-right 25px
    margin-left 25px

.card-btn
  &:not(:last-child)
    margin-right 10px
    margin-bottom 10px

.js-voa
  transition(opacity\, transform)
  transition-duration $tSlow
  transition-delay 62.5ms

.js-voa-start
  opacity 0
  transform translateY(30px)
