@import './tools'

[v-cloak]
  display none !important

html
body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color $cPrimaryText
  -webkit-tap-highlight-color rgba($cBrand, .25)
  fontReg()

::selection
  background-color $cBrand
  color white

a
  padding 5px
  margin -5px
  color inherit
  text-decoration none
  transition()
  +hover()
    hoverStyle()

body
  &.modal-open
    overflow hidden

#__nuxt
#__layout
.app
  min-height 100vh
  height 100%

.page
  min-height 100%
  height 100%
  transition()
  &.v-enter
  &.v-leave-to
    opacity 0

.container
  grid-container()
  max-width none

.is-hidden
  display none

.modal
  z-index 999
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  display flex
  justify-content center
  align-items center
  background-color rgba(0,0,0,.5)
  overflow hidden
  transition()
  &.v-enter
  &.v-leave-to
    opacity 0

.modal-msg
  z-index 1001

.modal-popup-container
  padding 50px
  max-width 100%
  border 1px solid rgba(0,0,0,.125)
  border-radius .25rem
  background-color white
  transition(transform)
  .v-enter &
  .v-leave-to &
    transform translateY(-30px)

.modal-icon-close
  color $cSecondaryText
  font-size 16px
  &.large
    font-size 24px

.modal-conflict
  overflow scroll

h1.page-title
  margin-bottom 35px
  fontMedium()
  +xl()
    margin-bottom 50px

.el-loading-mask
  position fixed !important
  z-index 1000 !important

.el-menu-item.is-active
  border-color $cBrand !important

.bg-empty
  background linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%)

.table-cell
  padding 10px 15px
  display flex
  align-items center
  max-width 1500px

.table-row
  position relative
  padding-top 25px
  padding-bottom 25px
  &:before
    content ''
    position absolute
    right 0
    bottom 0
    left 0
    height 1px
    background-color $cLighterBorder

.js-voa
  transition(opacity\, transform)
  transition-duration $tSlow
  transition-delay 62.5ms

.js-voa-start
  opacity 0
  transform translateY(30px)
