$font-path-graphik = '/static/fonts/graphik/'

@font-face {
    font-family: 'GraphikLCGRegular';
    src: url($font-path-graphik + 'GraphikLCG-Regular.woff2') format('woff2'),
         url($font-path-graphik + 'GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCGMedium';
    src: url($font-path-graphik + 'GraphikLCG-Medium.woff2') format('woff2'),
         url($font-path-graphik + 'GraphikLCG-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCGLight';
    src: url($font-path-graphik + 'GraphikLCG-Light.woff2') format('woff2'),
         url($font-path-graphik + 'GraphikLCG-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCGSemibold';
    src: url($font-path-graphik + 'GraphikLCG-Semibold.woff2') format('woff2'),
         url($font-path-graphik + 'GraphikLCG-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
