// animation
$googleTiming = cubic-bezier(0.4, 0.0, 1, 1)
$revealTiming = cubic-bezier(0.260, 0.860, 0.440, 0.985)
$uberTiming = cubic-bezier(0.8, 0, 0.2, 1)
$fastInSlowOut = cubic-bezier(0.075, 0.82, 0.165, 1)
$svoTiming = cubic-bezier(0.1, 0.57, 0.1, 1)
$tFast = 333ms
$tMedium = 500ms
$tSlow = 666ms
$tVerySlow = 1s
$tDurationDeafault = $tFast
$tTimingFunctionDefault = $revealTiming

// suppliers
// $cBrand = #927BFC
$cSuccess = #7bcffc //#d37bfc
// $cWarning = #fcc67b
// $cDanger = #fc857b
$cBrand = #409EFF
// $cSuccess = #67C23A
$cWarning = #E6A23C
$cDanger = #F56C6C

$cBrandMedium = #A0CFFF
$cBrandLight = #ECF5FF

$cInfo = #909399
$cPrimaryText = #303133
$cRegularText = #606266
$cSecondaryText = #909399
$cPlaceholderText = #C0C4CC
$cPText = #5e6d82
$cBaseBorder = #DCDFE6
$cLightBorder = #E4E7ED
$cLighterBorder = #EBEEF5
$cExLightBorder = #F2F6FC
$cDisabled = #F5F7FA