.col-05
  grid-size(.25, .25, .5, .5, .5)

.col-075
  grid-size(4, 2, .75, .75, .75)

.col-2
  grid-size(4, 4, 5/5, 7/5, 9/5)

.col-1
  grid-size(4, 2, 1, 1, 1)
  // justify-content center

.col-4-1
  grid-size(4, 4, .5 + 5/4 * 2 - 1, .5 + 7/4 * 2 - 1, .5 + 9/4 * 2 - 1)


.table-row
  padding-top 0px
  padding-bottom 0px
  +md()
    padding-top 2px
    padding-bottom 2px
  +lt-md()
    padding-top 10px
    padding-bottom 10px
