.col-075
  grid-size(4, 4, .75, .75, .75)

.col-1
  grid-size(4, 4, 1, 1, 1)

.col-15
  grid-size(4, 4, 1.5, 1.5, 1.5)

.col-2
  grid-size(4, 4, 2, 2, 2)

.col-3
  grid-size(4, 4, 3, 3, 3)
  flex-grow 1

.table-row
  +gt-md()
    padding-top 0
    padding-bottom 0