@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-MediumItalic.woff2') format('woff2'),
        url('GraphikLCG-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-ThinItalic.woff2') format('woff2'),
        url('GraphikLCG-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Extralight.woff2') format('woff2'),
        url('GraphikLCG-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Light.woff2') format('woff2'),
        url('GraphikLCG-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Black.woff2') format('woff2'),
        url('GraphikLCG-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-SemiboldItalic.woff2') format('woff2'),
        url('GraphikLCG-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-LightItalic.woff2') format('woff2'),
        url('GraphikLCG-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Regular.woff2') format('woff2'),
        url('GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Semibold.woff2') format('woff2'),
        url('GraphikLCG-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-ExtralightItalic.woff2') format('woff2'),
        url('GraphikLCG-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-BoldItalic.woff2') format('woff2'),
        url('GraphikLCG-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Super.woff2') format('woff2'),
        url('GraphikLCG-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-RegularItalic.woff2') format('woff2'),
        url('GraphikLCG-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Thin.woff2') format('woff2'),
        url('GraphikLCG-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Medium.woff2') format('woff2'),
        url('GraphikLCG-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Bold.woff2') format('woff2'),
        url('GraphikLCG-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-BlackItalic.woff2') format('woff2'),
        url('GraphikLCG-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-SuperItalic.woff2') format('woff2'),
        url('GraphikLCG-SuperItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

